/* src/API/RickandMorty/Envio.css */

.envio-wrapper {
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  background-color: #fff;
}

.search-section {
  display: flex;
  gap: 10px;
  margin-bottom: 3rem;
}

.search-section input {
  padding: 10px 15px;
  border: 2px solid #cbd5e1;
  border-radius: 8px;
  font-size: 1rem;
  width: 250px;
}

.search-section button {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

/* Tarjeta Grande del Resultado */
.resultado-card {
  display: flex; /* Imagen a la izq, texto a la der */
  background: white;
  border-radius: 20px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 600px;
  width: 100%;
  border: 1px solid #e2e8f0;
}

.resultado-card img {
  width: 250px;
  height: 100%;
  object-fit: cover;
}

.resultado-info {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.resultado-info h2 {
  font-size: 2rem;
  margin: 0 0 1rem 0;
  color: #1e293b;
}

.info-tag {
  background-color: #f1f5f9;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  display: inline-block;
  color: #475569;
  font-weight: 500;
}